{% extends "base.html" %}
{% set active_page = "animals" %}

{% block title %}Animals{% endblock %}
{% block content %}
<!-- confirmation message when table is edited -->
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-success alert-dismissable" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="close">
    <span aria-hidden="true">&times;</span>
  </button>
  {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}

<h3>Animals</h3>
<form id="updateAnimal" action="/update_animal" method="POST">
<table id="animalsTable" style="table-layout: fixed">
  <thead>
  <tr>
    <th colspan="8" scope="colgroup"><input type="text" id="search_inputs" class="editable" placeholder='Search Animals Table (examples: Lion, M, 543, etc)...' name="search" onkeypress="return event.keyCode != 13;"></th>
    <th scope="colgroup"><button id="search_button" type="button" name="Search" data-toggle="modal" data-target="" class="search-btn"><i class="fa fa-search" name="Search" aria-hidden="true"></i></button></th>
    <th scope="colgroup"><button id="reset_search" type="button" name="reset_search" data-toggle="modal" data-target="" class="search-btn" onclick="location.href='/animals'">Reset</button></th>
  </tr>
  <tr>
    <th scope="col" class="width6">Animal ID</th>
    <th scope="col" class="width8">Type</th>
    <th scope="col" class="width3">Sex</th>
    <th scope="col" class="width7">Name</th>
    <th scope="col" class="width6">Age (yrs)</th>
    <th scope="col" class="width7">Weight (lbs)</th>
    <th scope="col" class="width8">Temperament</th>
    <th scope="col" class="width9">Zookeeper</th>
    <th colspan="2"><button type="button" data-toggle="modal" data-target="#addanimal" class="add-btn" name="Add" value="Add"><i class="fa fa-plus fa-lg" aria-hidden="true"></i></button></th>
  </tr>
  </thead>
  <tbody>
  {% for r in rows_animals %}
  <tr id="animal{{ loop.index }}">
    <td>
      <input form="updateAnimal" type="number" name="animal_id" class="hidden" value="{{ r[0] }}" disabled="true">
      <input type="number" name="_animal_id" value="{{ r[0] }}" disabled="true"                            class="width6">
    </td>
    <td><input form="updateAnimal" type="text" name="type" value="{{ r[1] }}" disabled="true"              class="width8"></td>
    <td><input form="updateAnimal" type="text" name="sex" value="{{ r[2] }}" disabled="true" maxlength="1" class="width2"></td>
    <td><input form="updateAnimal" type="text" name="name" value="{{ r[3] }}" disabled="true"              class="width7"></td>
    <td><input form="updateAnimal" type="number" name="age" value="{{ r[4] }}" disabled="true"             class="width6"></td>
    <td><input form="updateAnimal" type="number" name="weight" value="{{ r[5] }}" disabled="true"          class="width7"></td>
    <td><input form="updateAnimal" type="text" name="temperament" value="{{ r[6] }}" disabled="true"       class="width8"></td>
    <td>
      <select form="updateAnimal" name="zookeeper_id" disabled="true" class="width9">
        {% for z in rows_zookeepers %}
        <option value="{{ z[0] }}" {{ 'selected' if r[7] == z[2] }}>{{ z[2] }}</option>
        {% endfor %}
      </select>
    </td>
    <td>
      <button form="updateAnimal" type="submit" class="update-btn hidden" name="Save"><i class="fa fa-floppy-o fa-lg" aria-hidden="true"></i></button>
      <button form="updateAnimal" type="button" class="update-btn" name="Edit"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></button>
    </td>
    <td><button type="button" data-toggle="modal" data-target="#deleteanimal" class="delete-btn" name="Delete" value="{{ r[0] }}"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></button></td>
  </tr>
  {% endfor %}
  </tbody>
</table>
</form>

<h3>Medications</h3>
<form id="updateMedications" action="/update_medications" method="POST">
<table id="medicationsTable">
  <thead>
  <tr>
    <th>Medication ID</th>
    <th>Name</th>
    <th colspan="2"><button type="button" data-toggle="modal" data-target="#addmedication" class="add-btn" name="Add" value="Add"><i class="fa fa-plus fa-lg" aria-hidden="true"></i></button></th>
  </tr>
  </thead>
  <tbody>
  {% for r in rows_medications %}
  <tr id="med{{ loop.index }}">
    <td>
      <input form="updateMedications" type="number" name="med_id" class="hidden" value="{{ r[0] }}" disabled="true">
      <input type="number" name="_med_id" value="{{ r[0] }}" disabled="true">
    </td>
    <td><input form="updateMedications" type="text" name="name" value="{{ r[1] }}" disabled="true"></td>
    <td>
      <button form="updateMedications" type="submit" class="update-btn hidden" name="Save"><i class="fa fa-floppy-o fa-lg" aria-hidden="true"></i></button>
      <button type="button" class='update-btn' name='Edit'><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></button>
    </td>
    <td><button type="button" data-toggle="modal" data-target="#deletemedication" class="delete-btn" name="Delete" value="{{ r[0] }}"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></button></td>
  </tr>
  {% endfor %}
  </tbody>
</table>
</form>

<h3>Animal Medications</h3>
<form id="updateAnimalsMedications" action="update_animals_medications" method="POST">
<table id="animalsMedicationsTable">
  <thead>
  <tr>
    <th style="display:none;">ID</th>
    <th>Animal Name</th>
    <th>Medication Name</th>
    <th colspan="2"><button type="button" data-toggle="modal" data-target="#addanimalmedication" class="add-btn" name="Add" value="Add"><i class="fa fa-plus fa-lg" aria-hidden="true"></i></button></th>
  </tr>
  </thead>
  <tbody id="animalsTableBody">
  {% for r in rows_animals_medications %}
  <tr id="animalMed{{ loop.index }}">
    <td class="hidden">
      <input form="updateAnimalsMedications" class="hidden" type="number" name="id" value="{{ r[0] }}" disabled="true">
    </td>
    <td>
      <select form="updateAnimalsMedications" name="animal_id" disabled="true">
        {% for a in rows_animals %}
        <option value="{{ a[0] }}" {{ 'selected' if a[0] == r[1] }}>{{ a[3] }}</option>
        {% endfor %}
      </select>
    </td>
    <td>
      <select form="updateAnimalsMedications" name="med_id" disabled="true">
        {% for m in rows_medications %}
        <option value="{{ m[0] }}" {{ 'selected' if m[0] == r[2] }}>{{ m[1] }}</option>
        {% endfor %}
      </select>
    </td>
    <td>
      <button form="updateAnimalsMedications" type="submit" class="update-btn hidden" name="Save"><i class="fa fa-floppy-o fa-lg" aria-hidden="true"></i></button>
      <button type="button" class='update-btn' name='Edit'><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></button>
    </td>
    <td>
      <button type="button" data-toggle="modal" data-target="#deleteanimalmedication" class="delete-btn" name="Delete" value="{{ r[0] }}"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></button>
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>
</form>

<!--Modal Add Animal-->
<div class="modal fade" id="addanimal" tabindex="-1" role="dialog" aria-labelledby="addanimalModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addanimalModalLongTitle">Add Animal</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/add_animal" method="POST">
          <div class="form-group">
            <label for="type">Type:</label>
            <input type="text" class="form-control" id="type" name="type" required="1">
          </div>
          <div class="form-group">
            <label for="sex">Sex:</label>
            <select class="form-control" id="sex" name="sex">
              <option value="M">Male</option>
              <option value="F">Female</option>
            </select>
          </div>
          <div class="form-group">
            <label>Name:</label>
            <input type="text" class="form-control" name="name" required="1">
          </div>
          <div class="form-group">
            <label>Age:</label>
            <input type="number" class="form-control" name="age" required="1">
          </div>
          <div class="form-group">
            <label>Weight:</label>
            <input type="number" class="form-control" name="weight" required="1">
          </div>
          <div class="form-group">
            <label>Temperament:</label>
            <input type="text" class="form-control" name="temperament" required="1">
          </div>
          <div class="form-group">
            <label for="zookeeper_id">Zookeeper Last Name:</label>
            <select class="form-control" id="zookeeper_id" name="zookeeper_id">
              {% for r in rows_zookeepers %}
              <option value="{{ r[0] }}">{{ r[2] }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <button class="update-btn" type="submit">Add Animal</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="delete-btn" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!--Modal Add Medications-->
<div class="modal fade" id="addmedication" tabindex="-1" role="dialog" aria-labelledby="addmedicationModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addmedicationModalLongTitle">Add Medication</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/add_medication" method="POST">
          <div class="form-group">
            <label>Medication Name:</label>
            <input type="text" class="form-control" name="name" required="1">
          </div>
          <div class="form-group">
            <button class="update-btn" type="submit">Add Medication</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="delete-btn" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!--Modal Add Animal Medication-->
<div class="modal fade" id="addanimalmedication" tabindex="-1" role="dialog" aria-labelledby="addanimalmedicationModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addanimalmedicationModalLongTitle">Add Animal Medication</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/add_animal_medication" method="POST">
          <div class="form-group">
            <label for="animal_id">Animal:</label>
            <select class="form-control" id="animal_id" name="animal_id">
              {% for r in rows_animals %}
              <option value="{{ r[0] }}">{{ r[3] }}</option>
              {% endfor %}
            </select>
            <label for="med_id">Medication:</label>
            <select class="form-control" id="med_id" name="med_id">
              {% for r in rows_medications %}
              <option value="{{ r[0] }}">{{ r[1] }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <button class="update-btn" type="submit">Add Animal Medication</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="delete-btn" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script>
    // dynamically load Animals table for Search
    let zookeepers = {{ json_zookeepers | safe }};
    let search_input = document.querySelector("#search_inputs");
    search_input.addEventListener('keyup', function() {
        $.get('/search_animals?search=' + search_input.value, function(search_results) {
            document.querySelector('#animalsTable tbody').innerHTML = "";
            let html = '';
            index = 1;
            search_results.forEach((result) => {
                html += '<tr id="animal' + index + '">'
                    + '<td>'
                    + '<input form="updateAnimal" type="number" name="animal_id" class="hidden" value="' + result[0] + '" disabled="true">'
                    + '<input type="number" name="_animal_id" value="' + result[0] + '" disabled="true" class="width6">'
                    + '</td>'
                    + '<td><input form="updateAnimal" type="text" name="type" value="' + result[1] + '" disabled="true" class="width8"></td>'
                    + '<td><input form="updateAnimal" type="text" name="sex" value="' + result[2] + '" disabled="true" maxlength="1" class="width2"></td>'
                    + '<td><input form="updateAnimal" type="text" name="name" value="' + result[3] + '" disabled="true" class="width7"></td>'
                    + '<td><input form="updateAnimal" type="number" name="age" value="' + result[4] + '" disabled="true" class="width6"></td>'
                    + '<td><input form="updateAnimal" type="number" name="weight" value="' + result[5] + '" disabled="true" class="width7"></td>'
                    + '<td><input form="updateAnimal" type="text" name="temperament" value="' + result[6] + '" disabled="true" class="width8"></td>'
                    + '<td>'
                    + '<select form="updateAnimal" name="zookeeper_id" disabled="true" class="width9">';
                zookeepers.forEach(z => {
                    let is_selected = z[2] == result[7] ? 'selected' : '';
                    html += '<option value="' + z[0] + '"' + is_selected + '>' + z[2] + '</option>';
                });
                html += '</select></td>';
                html += '<td>'
                    + '<button form="updateAnimal" type="submit" class="update-btn hidden" name="Save"><i class="fa fa-floppy-o fa-lg" aria-hidden="true"></i></button>'
                    + '<button form="updateAnimal" type="button" class="update-btn" name="Edit"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></button>'
                    + '</td>'
                    + '<td><button type="button" data-toggle="modal" data-target="#deleteanimal" class="delete-btn" name="Delete" value="' + result[0] + '"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></button></td>'
                    + '</td></tr>';
                index++;
            });
            document.querySelector('#animalsTable tbody').innerHTML = html;
        });
    });
</script>
{% endblock %}