{% extends "base.html" %}
{% set active_page = "animals" %}

{% block title %}Animals{% endblock %}
{% block content %}
<!--<h3><a href='/add_new_animal'>Add new animal</a></h3> for updates later -->
<h3>Animals</h3>
<table id=animalTable>
  <thead>
  <th>Animal ID</th>
  <th>Type</th>
  <th>Sex</th>
  <th>Name</th>
  <th>Age (yrs)</th>
  <th>Weight (lbs)</th>
  <th>Temperament</th>
  <th>Zookeeper ID</th>
  <th colspan="2"><button type="button" data-toggle="modal" data-target="#addanimal" class="add-btn" name="Add" value="Add">Add</button></th>
  </thead>
  <tbody>
  {% for r in rows_animals %}
  <tr id="animal{{ loop.index }}">
    <td><input type="number" name="animal_id" value="{{ r[0] }}" disabled="true"></td>
    <td><input type="text" name="type" value="{{ r[1] }}" disabled="true"></td>
    <td><input type="text" name="sex" value="{{ r[2] }}" style="min-width: 2em" disabled="true"></td>
    <td><input type="text" name="name" value="{{ r[3] }}" disabled="true"></td>
    <td><input type="number" name="age" value="{{ r[4] }}" disabled="true"></td>
    <td><input type="number" name="weight" value="{{ r[5] }}" disabled="true"></td>
    <td><input type="text" name="temperament" value="{{ r[6] }}" disabled="true"></td>
    <td><input type="number" name="zookeeper_id" value="{{ r[7] }}" disabled="true"></td>
    <td><button type="submit" class='update-btn' name='Edit'>Edit</button></td>
    <td><button type='submit' class='delete-btn' name='Delete' value='Delete'>Delete</button></td>
  </tr>
  {% endfor %}
  </tbody>
</table>
<h3>Medications</h3>
<table id="medTable">
  <thead>
  <th>Medication ID</th>
  <th>Name</th>
  <th colspan="2"><button type="button" data-toggle="modal" data-target="#addmedication" class="add-btn" name="Add" value="Add">Add</button></th>
  </thead>
  <tbody>
  {% for r in rows_medications %}
  <tr id="med{{ loop.index }}">
    <td><input type="number" name="med_id" value="{{ r[0] }}" style="min-width: 2em" disabled="true"></td>
    <td><input type="text" name="name" value="{{ r[1] }}" disabled="true"></td>
    <td><button type="submit" class='update-btn' name='Edit'>Edit</button></td>
    <td><button type='submit' class='delete-btn' name='Delete' value='Delete'>Delete</button></td>
  </tr>
  {% endfor %}
  </tbody>
</table>

<h3>Animal Medications (Relationship Table)</h3>
<table id="animalMedTable">
  <thead>
  <th style="display:none;">ID</th>
  <th>Animal ID</th>
  <th>Medication ID</th>
  <th colspan="2"><button type="button" data-toggle="modal" data-target="#addanimalmedication" class="add-btn" name="Add" value="Add">Add</button></th>
  </thead>
  <tbody>
  {% for r in rows_animals_meds %}
  <tr id="animalMed{{ loop.index }}">
    <td style="display:none;"> {{ r[0] }}</td>
    <td><input type="number" name="animal_id" value="{{ r[1] }}" style="min-width: 2em" disabled="true"></td>
    <td><input type="number" name="med_id" value="{{ r[2] }}" style="min-width: 2em" disabled="true"></td>
    <td><button type="submit" class='update-btn' name='Edit'>Edit</button></td>
    <td><button type='submit' class='delete-btn' name='Delete' value='Delete'>Delete</button></td>
  </tr>
  {% endfor %}
  </tbody>
</table>

<!--Modal Add Animal-->
<div class="modal fade" id="addanimal" tabindex="-1" role="dialog" aria-labelledby="addanimalModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addanimalModalLongTitle">Add Animal</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="" method="POST">
          <div class="form-group">
            <label>Type:</label>
            <input type="text" class="form-control" name="type" required="1">
          </div>
          <div class="form-group">
            <label>Sex:</label>
            <input type="text" class="form-control" name="sex" required="1">
          </div>
          <div class="form-group">
            <label>Name:</label>
            <input type="text" class="form-control" name="name" required="1">
          </div>
          <div class="form-group">
            <label>Age:</label>
            <input type="number" class="form-control" name="age" required="1">
          </div>
          <div class="form-group">
            <label>Weight:</label>
            <input type="number" class="form-control" name="weight" required="1">
          </div>
          <div class="form-group">
            <label>Temperament:</label>
            <input type="text" class="form-control" name="temperament" required="1">
          </div>
          <div class="form-group">
            <label>Zookeeper ID:</label>
            <input type="number" class="form-control" name="zookeeper_id" required="1">
          </div>
          <div class="form-group">
            <button class="update-btn" type="submit">Add Animal</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="delete-btn" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!--Modal Add Medications-->
<div class="modal fade" id="addmedication" tabindex="-1" role="dialog" aria-labelledby="addmedicationModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addmedicationModalLongTitle">Add Medication</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="" method="POST">
          <div class="form-group">
            <label>Medication name:</label>
            <input type="text" class="form-control" name="med_name" required="1">
          </div>
          <div class="form-group">
            <button class="update-btn" type="submit">Add Medication</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="delete-btn" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!--Modal Add Animal Medication-->
<div class="modal fade" id="addanimalmedication" tabindex="-1" role="dialog" aria-labelledby="addanimalmedicationModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addanimalmedicationModalLongTitle">Add Zookeeper Workday</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="" method="POST">
          <div class="form-group">
            <label>Zookeeper ID:</label>
            <input type="number" class="form-control" name="zookeeper_id" required="1">
          </div>
          <div class="form-group">
            <label>Workday ID:</label>
            <input type="number" class="form-control" name="workday_id" required="1">
          </div>
          <div class="form-group">
            <button class="update-btn" type="submit">Add Zookeeper Workday</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="delete-btn" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}