<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}{% endblock %} - Zootopia Management System</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/styles.css') }}">
</head>
<body>
<header>
{% set nav_items = [
  ('/', 'index', 'Home'),
  ('/animals', 'animals', 'Animals'),
  ('/zookeepers', 'zookeepers', 'Zookeepers')
] -%}

{% set active_page = active_page|default('index') -%}
  <ul class="nav-list">
    {% for href, id, title in nav_items %}
    <li {% if id == active_page %} class="active"{% endif %}>
      <a href="{{ href|e }}">{{ title|e }}</a>
    </li>
    {% endfor %}
  </ul>
</header>

<div id="content">{% block content %}{% endblock %}</div>

<footer>
  <p></p>
</footer>
<script src="{{ url_for('static', filename= 'js/script.js') }}"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>