{% extends "base.html" %}
{% set active_page = "zookeepers" %}

{% block title %}Zookeepers{% endblock %}
{% block content %}
<!--<h3><a href='/add_new_zookeeper'>Add new zookeeper</a></h3> for updates later -->
<h3>Zookeepers</h3>
<table border='1'>
    <thead>
    <th>Zookeeper ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    </thead>
    <tbody>
    {% for r in rows_zookeepers %}
    <tr>
        <td> {{ r[0] }}</td>
        <td> {{ r[1] }}</td>
        <td> {{ r[2] }}</td>
        <td> <input type='button' class='update-btn' name='Update' value='Update'> </td>
        <td> <input type='button' class='delete-btn' name='Delete' value='Delete'> </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<h3>Workdays</h3>
<table border='1'>
    <thead>
    <th>Workday ID</th>
    <th>Day</th>
    </thead>
    <tbody>
    {% for r in rows_workdays %}
    <tr>
        <td> {{ r[0] }}</td>
        <td> {{ r[1] }}</td>
        <td> <input type='button' class='update-btn' name='Update' value='Update'> </td>
        <td> <input type='button' class='delete-btn' name='Delete' value='Delete'> </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<h3>Zookeepers Workdays (Relationship Table)</h3>
<table border='1'>
    <thead>
    <th style="display:none;">ID</th>
    <th>Zookeeper ID</th>
    <th>Workday ID</th>
    </thead>
    <tbody>
    {% for r in rows_zookeepers_workdays %}
    <tr>
        <td  style="display:none;"> {{ r[0] }}</td>
        <td> {{ r[1] }}</td>
        <td> {{ r[2] }}</td>
        <td> <input type='button' class='update-btn' name='Update' value='Update'> </td>
        <td> <input type='button' class='delete-btn' name='Delete' value='Delete'> </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}