:root {
  --green-dark: #207561;
  --green-med: #589167;
  --green-light: #a0cc78;
  --blue-med: #007bff;
  --blue-dark:#00008B;
  --red: #da4302;
  --brown: #6d4e0c;
  --brown-light: #ad8e4c;
  --offwhite: #f9f6f2;
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background: var(--offwhite);
}

/* nav bar */
header {
  background-color: var(--green-dark);
}

.hidden {
  display: none;
}

.nav-list {
  padding: 0;
  display: flex;
  list-style: none;
  text-transform: uppercase;
}

.nav-list li {
  float: left;
  display: inline;
}

.nav-list a {
  display: block;
  color: var(--green-light);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 1px;
}

.nav-list li.active a {
  background-color: var(--green-light);
  color: var(--green-dark);
}

.nav-list a:hover {
  background-color: var(--red);
  color: black;
}

h1, h2, h3 {
  text-align: center;
  margin: 15px;
  color: var(--green-dark)
}

h4 {
  text-align: center;
  margin: 15px;
  color: var(--red)
}

/* tables */
table, th, td {
  border: 2px solid var(--brown);
  border-collapse: collapse;
  padding: 0.2em 0.5em 0.2em;
  margin: 0;
}

table {
  max-width: 800px;
  margin: 0 auto 0;
}

th {
  width: auto;
  white-space: nowrap;
}

tr input, td select {
  max-width: 100%;
  width: 100%;
  font-size: 16px;
  color: black;
  opacity: 1;
  padding-left: 3px;
}

/* hide number input and select arrows when not editable */
tr input:not(.editable),
td select:not(.editable),
input:not(.editable)::-webkit-outer-spin-button,
input:not(.editable)::-webkit-inner-spin-button {
  border: 0;
  background: none;
  -webkit-appearance: none;
  -webkit-text-fill-color: black;
}

/* hide number input arrows when not editable Firefox */
tr input:not(.editable) {
  -moz-appearance: textfield;
}

td .editable {
  color: red;
}

th .editable {
  color: black;
}

button {
  border-radius: 4px;
}

table button {
  width: 4em;
  color: black;
  font-size: 15px;
}

.update-btn {
  background-color: var(--green-light);
  padding: 2px;
}

.delete-btn {
  background-color: var(--red);
  padding: 2px;
  width: 60px;
}

.add-btn {
  background-color: var(--green-dark);
  padding: 2px;
  color: var(--green-light);
  width: 138px;
}

.search-btn {
  background-color: var(--brown-light);
  padding: 2px;
  width: 60px;
}

.centered-img {
  text-align: center;
  margin: auto;
}

.centered-img p {
  text-align: left
}

/*allows clicking of search button with magnifying glass fa fa-search icon*/
/*REF: https://css-tricks.com/slightly-careful-sub-elements-clickable-things/*/
button > * {
  pointer-events: none;
}

::placeholder {
  font-style: italic;
}

/* widths for table cells */
.width1 {min-width: 1em; max-width: 1em;}
.width2 {min-width: 2em; max-width: 2em;}
.width3 {min-width: 3em; max-width: 3em;}
.width4 {min-width: 4em; max-width: 4em;}
.width5 {min-width: 5em; max-width: 5em;}
.width6 {min-width: 6em; max-width: 6em;}
.width7 {min-width: 7em; max-width: 7em;}
.width8 {min-width: 8em; max-width: 8em;}
.width9 {min-width: 9em; max-width: 9em;}