:root {
  --green-dark: #207561;
  --green-med: #589167;
  --green-light: #a0cc78;
  --blue-med: #007bff;
  --blue-dark:#00008B;
  --red: #da4302;
  --brown: #6d4e0c;
  --brown-light: #ad8e4c;
  --offwhite: #f9f6f2;
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background: var(--offwhite);
}

/* nav bar */
header {
  background-color: var(--green-dark);
}

.nav-list {
  padding: 0;
  display: flex;
  list-style: none;
  text-transform: uppercase;
}

.nav-list li {
  float: left;
  display: inline;
}

.nav-list a {
  display: block;
  color: var(--green-light);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 1px;
}

.nav-list li.active a {
  background-color: var(--green-light);
  color: var(--green-dark);
}

.nav-list a:hover {
  background-color: var(--red);
  color: black;
}

h1, h2, h3 {
  text-align: center;
  margin: 15px;
  color: var(--green-dark)
}

h4 {
  text-align: center;
  margin: 15px;
  color: var(--red)
}

/* tables */
table, th, td {
  border: 2px solid var(--brown);
  border-collapse: collapse;
  padding: 0.2em 0.5em 0.2em;
  margin: 0;
}

table {
  max-width: 800px;
  margin: 0 auto 0;
}

th {
  width: auto;
  white-space: nowrap;
}

tr input {
  max-width: 100%;
  width: 100%;
  font-size: 16px;
  color: #222222;
}

tr input:not([type="numver"]):not([type="submit"]) {
  min-width: 6em;
}

tr input[type="number"] {
  min-width: 4em;
}

table button {
  width: 4em;
  color: black;
  font-size: 15px;
}

.update-btn {
  background-color: var(--green-light);
  padding: 2px;
}

.delete-btn {
  background-color: var(--red);
  padding: 2px;
}

.add-btn {
  width: 100%;
  background-color: var(--green-dark);
  padding: 2px;
  color: var(--green-light);
}

.search-btn {
  width: 100%;
  background-color: var(--brown-light);
  padding: 2px;
}

.centered-img {
  text-align: center;
  margin: auto;
}

.centered-img p {
  text-align: left
}